/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
  list-style: none;
  color: #989898;
}

li {
  padding: 4px;
}

html,
body {
  height: 100%;
  width: 100%;
  /* padding: 0;
  margin: 0; */
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-top: 80px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: black;
  padding: .5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav button {
  padding: .5rem 1rem;
  border-radius: 2px;
  text-transform: uppercase;
}

.room-list {
  background: #dedede;
  padding: 10px 40px;
}

.message-list {
  flex: 1;
  background: aliceblue;
  padding: 10px 40px;
}

.room-name {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
